$color-red: #FF6060;

.e404 {
    text-align: center;

    h1 {
        font-size: 288px;
        margin: 0;
        font-weight: 700;
        color: $color-red;
    }

    p {
        font-size: 36px;
        font-weight: 500;
        margin: 100px 0;
        color: $color-red;
    }

    a {
        display: block;
        font-size: 18px;
        font-weight: 500;
        margin: 100px 0;
        text-decoration: underline;
    }
}

@media (max-width: 480px) {

    .e404 {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 96px;
            margin: 113px 0 0 0;
        }

        p {
            font-size: 18px;
            width: 260px;
            margin: 113px 0;
        }

        a {
            font-size: 14px;
            margin: 0 0 113px 0;
        }
    }
}