.Home .Gallery {
    background-color: #F6F6F6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width: 480px) {
    .Home .Gallery {
        background-color: white;
        flex-direction: column;
        align-content: center;
        justify-content: none;
        margin: 10px 0;
    }
}