$color-red: #FF6060;

.Logement {

    .Slideshow {
        height: 415px;
        margin: 0 0 24px 0;
    }

    .Info1 {
        display: flex;
        justify-content: space-between;

        .titleID {

            h1 {
                font-size: 36px;
                font-weight: 500;
                color: $color-red;
                margin: 0;
            }

            p {
                margin: 0;
                font-size: 18px;
                font-weight: 500;
                color: black;
            }
        }

        .host {
            display: flex;

            .hostname {
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                    font-size: 18px;
                    font-weight: 500;
                    color: $color-red;
                    margin: 0 10px;
                    text-align: right;
                }
            }



            img {
                height: 64px;
                border-radius: 100%;
            }
        }
    }

    .InfoTag {
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tags ul {
            display: flex;
            margin: 0;
            gap: 10px;
            padding: 0;

            li {
                display: block;
                width: 115px;
                padding: 3px 0;
                font-weight: 700;
                font-size: 14px;
                color: white;
                background-color: $color-red;
                border-radius: 10px;
                text-align: center;
            }
        }

        .stars {
            img {
                margin: 0 4px;
            }
        }
    }

    .LogementCollapses {
        display: flex;
        justify-content: space-between;

        .Collapse {
            width: 47.5%;
        }
    }
}