$color-red: #FF6060;

.Logement {

    .Slideshow {
        height: 415px;
        margin: 0 0 24px 0;
    }

    .Info1 {
        display: flex;
        justify-content: space-between;

        .titleID {

            h1 {
                font-size: 36px;
                font-weight: 500;
                color: $color-red;
                margin: 0;
            }

            p {
                margin: 0;
                font-size: 18px;
                font-weight: 500;
                color: black;
            }
        }
    }

    .host {
        display: flex;
        align-items: center;

        .hostname {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                font-size: 18px;
                font-weight: 500;
                color: $color-red;
                margin: 0 10px;
                text-align: right;
            }
        }

        img {
            height: 64px;
            border-radius: 100%;
        }
    }

    .InfoTag {
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tags ul {
            display: flex;
            margin: 0;
            gap: 10px;
            padding: 0;

            li {
                display: block;
                width: 115px;
                padding: 3px 0;
                font-weight: 700;
                font-size: 14px;
                color: white;
                background-color: $color-red;
                border-radius: 10px;
                text-align: center;
            }
        }

        .stars {
            img {
                margin: 0 4px;
            }
        }

        .host {}
    }

    .LogementCollapses {
        display: flex;
        justify-content: space-between;

        .Collapse {
            width: 47.5%;
        }
    }
}

@media (min-width: 481px) {
    .stars {
        .host {
            display: none;
        }
    }
}

@media (max-width: 480px) {
    .Logement {

        .Slideshow {
            height: 255px;
        }

        .Info1 {

            .titleID {

                h1 {
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                }
            }

            .host {
                display: none;
            }
        }

        .InfoTag {
            flex-direction: column;
            gap: 24px;
            align-items: flex-start;

            .tags ul {

                li {
                    width: 84px;
                    font-size: 10px;
                }
            }

            .stars {
                display: flex;
                align-items: center;

                img {
                    width: 18px;
                }

                .host {
                    display: flex;
                    position: absolute;
                    right: 20px;

                    .hostname {

                        p {
                            font-size: 12px;
                        }
                    }

                    img {
                        height: 32px;
                        width: 32px;
                    }
                }
            }
        }

        .LogementCollapses {
            flex-direction: column;

            .Collapse {
                width: 100%;
            }
        }
    }
}