$color-red: #FF6060;

.Collapse {
    margin: 0 0 40px 0;

    .title {
        border-radius: 5px;
        background-color: $color-red;
        color: white;
        display: flex;
        justify-content: space-between;

        p {
            font-weight: 700;
            font-size: 34px;
            padding: 5px 20px;
            text-align: left;
            margin: 0;
        }

        img {
            padding: 0 24px 0 0;
            cursor: pointer;
            width: 24px;
        }
    }

    .text {
        margin: 20px;
        font-weight: 400;
        font-size: 18px;

        p {
            margin: 0;
        }
    }
}

@media (max-width: 480px) {
    .Collapse {
        margin: 0 0 20px 0;

        .title {
            height: 30px;

            p {
                font-size: 13px;
            }

            img {
                padding: 0 12px 0 0;
                width: 16px;
            }
        }

        .text {
            font-size: 12px;
            margin: 10px 30px 30px 30px;

            p {
                margin: 0;
            }
        }
    }
}