footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img {
    margin: 50px 0 50px 0;
}

footer p {
    margin: 0 0 20px 0;
}